<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/Ders12OrnekTasarim.html" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/Images/logo.png" alt="logoInfotechAcademy" class="img-fluid">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Anasayfa</a></li>
            <li class="vr"></li>
            <li><a href="hakkimizda.html" class="nav-link px-2 link-dark">Hakkımızda</a></li>
            <li class="vr"></li>
            <li>
                <div class="dropdown">
                    <a class="nav-link px-2 link-dark btn dropdown-toggle border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Eğitimlerimiz
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Yazılım Uzmanlığı Eğitimi (MCSD)</a></li>
                        <li><a class="dropdown-item" href="#">Mobil Oyun Geliştirme (Unity) Eğitimi</a></li>
                        <li><a class="dropdown-item" href="#">Sistem Uzmanlığı Eğitimi (MCSE)</a></li>
                    </ul>
                </div>
            </li>
            <li class="vr"></li>
            <li><a href="#" class="nav-link px-2 link-dark">Eğitim Takvimi</a></li>
            <li class="vr"></li>
            <li><a href="iletisim.html" class="nav-link px-2 link-dark">İletişim</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/BootstrapEgitimi/sign-in.html" class="btn btn-outline-primary me-2" target="_blank">
                Giriş
                Yap
            </a>
            <button type="button" class="btn btn-primary">Üye Ol</button>
        </div>
    </header>
</div>
<!-- header kodları bitiş -->